# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List popular languages for Data Science
- List commonly used Data Science Libraries
- Create a table of open-source development tools
- Demonstrate basic arithmetic expression in Python

Some of the popular languages that Data Scientists use are:
1.Python
2.R
3.SQL

Some of the commonly used libraries used by Data Scientists include:
1.Pandas
2.NumPy
3.Matplotlib



|Data Science Tools|
|------------------|
|JupyterLab        |
|RStudio           |
|VS Code           |

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
This a simple arithmetic expression to mutiply then add integers
(3*4)+5

In [ ]:
This will convert 200 minutes to hours by diving by 60
200/60

## Author
Gislene Robles